<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Rodolfo,</h1>
    <p>
     <h2>You got a new mail from your app!.</h2>
     <h3>From: <%= @params[:name] %></h3>
     <h3>Email: <%= @params[:email] %></h3>
     <h3>Phone: <%= @params[:phone] %></h3>
     <h3>Subject: <%= @params[:subject] %></h3>
     <h3>Message: <%= @params[:message] %></h3>
    </p>
  </body>
</html>