<div class="container">
	<a href="<%= usersEdit_path @current_user.id %>">Edit User</a>
	<h1>User <%= @current_user.first_name %>!</h1>
		<table>
			<tr>
				<td>First Name:</td>
				<td><label for=""><%= @current_user.first_name %></label></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><label for=""><%= @current_user.last_name %></label></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><label for=""><%= @current_user.email %></label></td>
			</tr>
		</table>
</div>

